{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}


{% block body %}

	<div class="homeContent">
		<div class="content">
			<h1>Xavier</h1>
			<h1>DEPOORTERE</h1>
			<h2>Développeur web et web mobile</h2>
			<div class="pdf">
				<a href="./media/CV.pdf" target="_blank">
					Télécharger CV
				</a>
			</div>
		</div>
	</div>


{% endblock %}
