<div class="hobbies">
	<h3>Intérêts</h3>
	<ul>
		<li class="hobby">
			<i class="fas fa-dumbbell"></i>
			<span>Fitness</span>
		</li>
		<li class="hobby">
			<i class="fas fa-rocket"></i>
			<span>Spacial</span>
		</li>
		<li class="hobby">
			<i class="fas fa-film"></i>
			<span>Cinema</span>
		</li>
		<li class="hobby">
			<i class="fas fa-robot"></i>
			<span>Robotique</span>
		</li>

	</ul>
</div>
