<div class="otherSkills">
	<h3>Autres compétences</h3>
	<div class="list">
		<ul>
			<li>
				<i class="fas fa-check-square"></i>Anglais débutant
			</li>
			<li>
				<i class="fas fa-check-square"></i>Github
			</li>
			<li>
				<i class="fas fa-check-square"></i>SQL
			</li>
		</ul>
		<ul>
			<li>
				<i class="fas fa-check-square"></i>MongoDB
			</li>
			<li>
				<i class="fas fa-check-square"></i>Tailwind
			</li>
			<li>
				<i class="fas fa-check-square"></i>Bootstrap
			</li>
		</ul>
	</div>
</div>
