{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
	<div class="contactContent">
		<div class="header"></div>
		<div class="contactBox">
			<h1>Contactez-moi</h1>
			<ul>
				<li>
					<i class="fas fa-map-marker-alt"></i>
					<span>Faverolles sur Cher</span>
				</li>
				<li>
					<i class="fas fa-mobile-alt"></i>

					<span class="clickInput">
						06 19 90 48 82
					</span>

				</li>
				<li>
					<i class="far fa-envelope"></i>

					<span class="clickInput">
						depoorx@gmail.com
					</span>

				</li>
			</ul>
		</div>
		<div class="socialNetworkContact">
			<ul>
				<a class="a" href="https://www.linkedin.com/in/xavier-depoortere-ba7087163/" target="_blank" rel="noopener noreferrer">
					<h4>LinkedIn</h4>
					<i class="fab fa-linkedin"></i>
				</a>
			</ul>
			<ul>
				<a class="a" href="https://github.com/XavierDepoortere" target="_blank" rel="noopener noreferrer">
					<h4>Github</h4>
					<i class="fab fa-github"></i>
				</a>
			</ul>

			<ul>
				<a class="a" href="https://codepen.io/Xanatos41" target="_blank" rel="noopener noreferrer">
					<h4>CodePen</h4>
					<i class="fab fa-codepen"></i>
				</a>
			</ul>
		</div>
	</div>
{% endblock %}
