<div class="sidebar">
	<div class="id">
		<div class="idContent">
			<img class="img_nav" src="./media/xavierDepoortere.jpg" alt="xavier depoortere"/>

			<h3 class="h3_nav">Xavier DEPOORTERE</h3>
		</div>
	</div>
	<div class="navigation">
		<ul>
			<li>
				<a href="{{path('app_home')}}">
					<i class="fas fa-home"></i>
					<span>Accueil</span>
				</a>
			</li>
			<li>
				<a href="{{path('app_competence')}}">
					<i class="fas fa-mountain"></i>
					<span>Compétences</span>
				</a>
			</li>
			<div>
				<li>
					<a href="{{path('app_portfolio')}}">
						<i class="fas fa-image"></i>
						<span>Portfolio</span>
					</a>
				</li>
			</div>
			<li>
				<a href="{{path('app_contact')}}">
					<i class="fas fa-address-book"></i>
					<span>Contact</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="socialNetwork">
		<ul>
			<li>
				<a href="https://www.linkedin.com/in/xavier-depoortere-ba7087163/" target="_blank" rel="noopener noreferrer">
					<i class="fab fa-linkedin"></i>
				</a>
			</li>
			<li>
				<a href="https://github.com/XavierDepoortere" target="_blank" rel="noopener noreferrer">
					<i class="fab fa-github"></i>
				</a>
			</li>
			<li>
				<a href="https://codepen.io/Xanatos41" target="_blank" rel="noopener noreferrer">
					<i class="fab fa-codepen"></i>
				</a>
			</li>
		</ul>
		<div class="signature">
			<p>from Xavier DEPOORTERE - 2023</p>
		</div>
	</div>
</div>
